
// Body
$body-bg: #f5f8fa;

// Colors
$blue:    #414c50;

$primary: $blue;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$sec1-heading-color: $primary;
$sec1-paragraph-color: $primary;
$sec2-heading-color: white;
$sec2-paragraph-color: white;
$headings-margin-bottom: 2rem;
$h2headings-margin-bottom: 1rem;
$paragraph-margin-bottom: 2rem;

// $font-size-base: 0.9rem;
$line-height-base: 1.6;


